/* YELLOW FFCE0C *//* PURPLE 000000 *//* TEAL 32BEBD *//* PINK 9E2064 */

.App {
  text-align: center;
}

.AppBody {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.mainBody {
  text-align: left;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.profilePage {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.profileName {
  text-transform: capitalize;
  font-size: 1.7em;
  font-weight: bold;
}

.profileDetailsSegment {
  width: 100%;
}

.profileDetails {
  float: left;
  margin: 5px 35px 5px 0px;
}

.floatR {
  padding: 5px 0px 5px 0px;
  float: right;
}

.newSearchButton {
  float: left;
  clear: both;
  margin: 5px 2px 0px 0px;
}

.RecentSearchText {
  float: left;
  font-size: 1.7em;
  color: gray;
}

.searchPageDiv {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.searchForm {
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
}

.searchFormButton {
  width: 100%
}

.imgPrevContainer {
  position: relative;
  width: 270px;
  height: 270px;
  margin: 10px 0 10px 0;
}

.imgRotate {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 20px 0px 0px;
}

.imgPrev {
  top: 0;
  right: 0;
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.actorCardImage {
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.actorCard {
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
}

.actorDetails {
  text-align: left;
}

.tileImage {
  margin: 5px 0 5px 0;
  width: 180px;
  height: 190px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  clear: both;
}

.tileImage:hover{
  cursor: pointer;
  opacity: .9;
}

.logoLetter:hover {
  cursor: default;
  display:inline-block;
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.actorTileDiv {
  float: left;
  margin: 10px 10px 10px 0;
}

.actorTileSegment {
  margin: auto;
  width: 100%;
}

.actorTileName {
  float: left;
  font-weight: bold;
  text-transform: capitalize;
}

.tileIcon {
  border: none;
  background: none;
  float: right;
  padding-top: 6px;
}

.SplashPage {
  float: inherit;
  clear: both;
  background-color: #FFCE0C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  line-height: 1vh;
  font-weight: bold;
  color: white;
}

.SplashPageButton {
  display: grid;
  grid-row: auto;
  padding-bottom: 10px;
}

.fadeIn2 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.4s both ease-in;
  animation-delay: 1s;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
   100% {
    opacity: 1;
  }
}

.fadeIn3 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.4s both ease-in;
  animation-delay: 1.5s;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
   100% {
    opacity: 1;
  }
}

.App-logo {
  margin-top: -100px;
  margin-bottom: 10px;
  width: 30vh;
	-webkit-animation: roll-in-left 2s ease-out both;
	animation: roll-in-left 2s ease-out both;
}

.logoText {
  margin-bottom: 20px;
}

.h1HeaderText {
  color: #000000;
}

.movieTitle{
  font-size: 1.2em;
  font-weight: bold;
}

.actorNameCaps{
  color: #32BEBD;
  text-transform: capitalize;
}

.baconize {
  padding: 5px;
  float: left;
  max-width: 400px;
  min-height: 100px;
}

.shabaconLabel {
  padding: 2px;
}

/* Absolute Center Spinner */
.LoadingDiv {
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin-top: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.LoadingDiv:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCE0C;
  opacity: 0.95;
}

.rotate {
  -webkit-animation: rotation 3s infinite linear;
  animation: rotation 3s infinite linear;
  opacity: 1;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.math {
  text-align: center;
  padding: 40px;
  color: #FFCE0C;
  font-size: 30px;
}

.loadText {
  text-align: center;
  padding: 40px 40px 0px 40px;
  color: #000000;
  font-size: 40px;
}

.loadingText {
  color: #ffffff;
  font-size: 45px;
}

.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

/* Website Top Navigation */
.nav {
  height: 50px;
  width: 100%;
  background-color: #FFCE0C;
  position: relative;
}

.nav-header {
  display: inline;
}

.nav-title {
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.navLogo {
  margin-top: 5px;
  margin-right: 5px;
}

.nav-links {
  color: #ffffff;
  display: inline;
  float: right;
  font-size: 1.1em;
  font-weight: bold;
}

.nav > .nav-links > a {
  float: right;
  padding: 15px 15px 10px 15px;
  text-decoration: none;
  color: #ffffff;
}

.nav > .nav-links > a:hover {
  color: #000000;
}

.activeNav {
  color: #000000;
  font-weight: bold;
}

.nav > #nav-btn {
  display: none;
}

@media (max-width:600px) {
  .nav > #nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .nav > .nav-links {
    width: 100%;
    background-color: #32BEBD;
    transition: all .3s ease-in;
    overflow-y: hidden;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-btn,.closed ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-btn,.open ~ .nav-links {
    margin-top: 0px;
    height: 100vh;
  }
}

 /* ----------------------------------------
 * Generated by Animista on 2019-5-13 18:2:11
 * w: http://animista.net, t: @cssanimista
 * animation roll-in-left
 * ---------------------------------------- */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
